extends ../layout
block content
  .container
    h1 Create Peer
    +alerts()
    form.form-horizontal(action='/peer/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Hostname
        .col-sm-10
          input.form-control(type='text', name='hostname', placeholder='FQDN for the peer')
      .form-group
        label.control-label.col-sm-2 IP
        .col-sm-10
          input.form-control(type='text', name='ip', placeholder='IP Address (leave blank for resolution from hostname)')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save