extends ../layout
block content
  .container
    h1 Create Prism
    +alerts()
    form.form-horizontal(action='/prism/save', method='post', role='form')
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          input.form-control(type='text', name='name', placeholder='Prism Name')
      .form-group
        label.control-label.col-sm-2 Site
        .col-sm-10
          input.form-control(type='text', name='site', placeholder='Prism Site')
      .form-group
        label.control-label.col-sm-2 Zone
        .col-sm-10
          input.form-control(type='text', name='group', placeholder='Prism Group')
      .form-group
        label.control-label.col-sm-2 Host
        .col-sm-10
          input.form-control(type='text', name='host', placeholder='Prism Host')
      .form-group
        label.control-label.col-sm-2 Port
        .col-sm-10
          input.form-control(type='text', name='port', placeholder='Prism Port')
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10
          input(type='checkbox', name='active', checked=false)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save