extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('User','/user/create','Create User')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Full Name
          th Last Login
          th Active
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/user/edit?id=#{row.id}')= row.username
            td
              if row.dateSeen
                div.text-success= new Date(row.dateSeen * 1000).toDateString()
              if row.dateFail
                div.text-danger= new Date(row.dateFail * 1000).toDateString()
            td
              +active(row.active)
      +tableFooter(page,count)