extends layout
block content
  .container
    h1= file.name
    +pathTree(file.parentPath(),file.name)
    p.alert.alert-warning This file is still processing please check back later when it becomes available.
