extends ../layout
block content
  .container
    h2 Create Episode
    form.form-horizontal(action='/episode/save', method='post', role='form')
      input(type='hidden', name='show', value=show.id)
      .form-group
        label.control-label.col-sm-2 Show
        .col-sm-10
          .form-control-static= show.title
      .form-group
        label.control-label.col-sm-2 Title
        .col-sm-10
          input.form-control(type='text', name='title', placeholder='Episode Title')
      .form-group
        label.control-label.col-sm-2 Number
        .col-sm-10
          input.form-control(type='text', name='number', placeholder='Episode Number')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save