body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ssh-key {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  width: 900px;
  color: #333;
  background: #f1f1f1;
  border: 1px solid #333;
  overflow-x: scroll;
}